# Virtual environment
.venv/

# VSCode settings
.vscode/

# Runtime files
flask_gui/transcripts/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
*.log
*.tmp
build/
dist/

# Git files
*.git

# Remove model
models/
