html, body {
  margin: 0;
  padding: 0;
  background: rgba(34, 33, 33, 0.361);
  backdrop-filter: blur(12px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#bubble {
  position: relative;
  margin: 0;
  background: rgba(24,24,24,0.92);
  color: #adadad;
  padding: 12px 20px;
  border-radius: 999px;
  font-family: "Segoe UI", sans-serif;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  gap: 12px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.4);
}

.waveform {
  display: flex;
  gap: 4px;
  height: 20px;
  align-items: flex-end;
}

.waveform div {
  width: 4px;
  background: #7aa2ff;
  animation: pulse 1s infinite ease-in-out;
}

.hidden { display: none; }
.show { display: flex; }

.waveform div:nth-child(2) { animation-delay: 0.1s; }
.waveform div:nth-child(3) { animation-delay: 0.2s; }
.waveform div:nth-child(4) { animation-delay: 0.3s; }
.waveform div:nth-child(5) { animation-delay: 0.4s; }

@keyframes pulse {
  0%, 100% { height: 8px; }
  50% { height: 20px; }
}

